<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>LocalSearch</display-name>
  <welcome-file-list>
    <welcome-file>main.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>EndUserRegister</display-name>
    <servlet-name>EndUserRegister</servlet-name>
    <servlet-class>Local.EndUserRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EndUserRegister</servlet-name>
    <url-pattern>/EndUserRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertReview</display-name>
    <servlet-name>InsertReview</servlet-name>
    <servlet-class>Local.InsertReview</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertReview</servlet-name>
    <url-pattern>/InsertReview</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BusinessRegister</display-name>
    <servlet-name>BusinessRegister</servlet-name>
    <servlet-class>Local.BusinessRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BusinessRegister</servlet-name>
    <url-pattern>/BusinessRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserListing</display-name>
    <servlet-name>UserListing</servlet-name>
    <servlet-class>Local.UserListing</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserListing</servlet-name>
    <url-pattern>/UserListing</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>Local.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Product_Category</display-name>
    <servlet-name>Product_Category</servlet-name>
    <servlet-class>Local.Product_Category</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Product_Category</servlet-name>
    <url-pattern>/Product_Category</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Product_SubCategory</display-name>
    <servlet-name>Product_SubCategory</servlet-name>
    <servlet-class>Local.Product_SubCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Product_SubCategory</servlet-name>
    <url-pattern>/Product_SubCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Update_Category</display-name>
    <servlet-name>Update_Category</servlet-name>
    <servlet-class>Local.Update_Category</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update_Category</servlet-name>
    <url-pattern>/Update_Category</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddServletUser</display-name>
    <servlet-name>AddServletUser</servlet-name>
    <servlet-class>Local.AddServletUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddServletUser</servlet-name>
    <url-pattern>/AddServletUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertServlet</display-name>
    <servlet-name>InsertServlet</servlet-name>
    <servlet-class>Local.InsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertServlet</servlet-name>
    <url-pattern>/InsertServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BasicinfouserServlet</display-name>
    <servlet-name>BasicinfouserServlet</servlet-name>
    <servlet-class>Local.BasicinfouserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BasicinfouserServlet</servlet-name>
    <url-pattern>/BasicinfouserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContactinfoServlet</display-name>
    <servlet-name>ContactinfoServlet</servlet-name>
    <servlet-class>Local.ContactinfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactinfoServlet</servlet-name>
    <url-pattern>/ContactinfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OtherinfoServlet</display-name>
    <servlet-name>OtherinfoServlet</servlet-name>
    <servlet-class>Local.OtherinfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OtherinfoServlet</servlet-name>
    <url-pattern>/OtherinfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BusinesskeyServlet</display-name>
    <servlet-name>BusinesskeyServlet</servlet-name>
    <servlet-class>Local.BusinesskeyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BusinesskeyServlet</servlet-name>
    <url-pattern>/BusinesskeyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadmediasServlet</display-name>
    <servlet-name>UploadmediasServlet</servlet-name>
    <servlet-class>Local.UploadmediasServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadmediasServlet</servlet-name>
    <url-pattern>/UploadmediasServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyratingServlet</display-name>
    <servlet-name>MyratingServlet</servlet-name>
    <servlet-class>Local.MyratingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyratingServlet</servlet-name>
    <url-pattern>/MyratingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminListServlet</display-name>
    <servlet-name>AdminListServlet</servlet-name>
    <servlet-class>Local.AdminListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminListServlet</servlet-name>
    <url-pattern>/AdminListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PhotoGallaryServlet</display-name>
    <servlet-name>PhotoGallaryServlet</servlet-name>
    <servlet-class>Local.PhotoGallaryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PhotoGallaryServlet</servlet-name>
    <url-pattern>/PhotoGallaryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogoutServlet</display-name>
    <servlet-name>AdminLogoutServlet</servlet-name>
    <servlet-class>Local.AdminLogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogoutServlet</servlet-name>
    <url-pattern>/AdminLogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBusiness</display-name>
    <servlet-name>AddBusiness</servlet-name>
    <servlet-class>Local.AddBusiness</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBusiness</servlet-name>
    <url-pattern>/AddBusiness</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminCategory</display-name>
    <servlet-name>AdminCategory</servlet-name>
    <servlet-class>Local.AdminCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminCategory</servlet-name>
    <url-pattern>/AdminCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminSubCategory</display-name>
    <servlet-name>AdminSubCategory</servlet-name>
    <servlet-class>Local.AdminSubCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSubCategory</servlet-name>
    <url-pattern>/AdminSubCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminProduct</display-name>
    <servlet-name>AdminProduct</servlet-name>
    <servlet-class>Local.AdminProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminProduct</servlet-name>
    <url-pattern>/AdminProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserProduct</display-name>
    <servlet-name>UserProduct</servlet-name>
    <servlet-class>Local.UserProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserProduct</servlet-name>
    <url-pattern>/UserProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>Local.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FreeListing</display-name>
    <servlet-name>FreeListing</servlet-name>
    <servlet-class>Local.FreeListing</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FreeListing</servlet-name>
    <url-pattern>/FreeListing</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>User_Free_Category_Listing</display-name>
    <servlet-name>User_Free_Category_Listing</servlet-name>
    <servlet-class>Local.User_Free_Category_Listing</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User_Free_Category_Listing</servlet-name>
    <url-pattern>/User_Free_Category_Listing</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExcelExport</display-name>
    <servlet-name>ExcelExport</servlet-name>
    <servlet-class>Local.ExcelExport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcelExport</servlet-name>
    <url-pattern>/ExcelExport</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExcelExportOrder</display-name>
    <servlet-name>ExcelExportOrder</servlet-name>
    <servlet-class>Local.ExcelExportOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcelExportOrder</servlet-name>
    <url-pattern>/ExcelExportOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>User_Other_Listing</display-name>
    <servlet-name>User_Other_Listing</servlet-name>
    <servlet-class>Local.User_Other_Listing</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User_Other_Listing</servlet-name>
    <url-pattern>/User_Other_Listing</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddContact</display-name>
    <servlet-name>AddContact</servlet-name>
    <servlet-class>Local.AddContact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddContact</servlet-name>
    <url-pattern>/AddContact</url-pattern>
  </servlet-mapping>
</web-app>